*.pyc
*.pyo
*.*~
#model_output/
*test*
*backup*
initial*.csv
*benchmark*
log/*
*.pck
model_input/AFT_benchmarks*
*backup*.*
*copy*
*.so*
*2021*
*.idea*
*runtime*
*DS_store*
*checkpoint*
notebooks/.ipynb_checkpoints*
*checkpoint.ipynb*
